* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header{
    height: 30%;
    background-color: aqua;
  }
  .mainheaderdiv{
    display: flex;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .firsttitle{
    font-size: 1.5rem;
    font-family: serif;
    width: 75%;
  }
  .links a{
    color: rgb(73, 70, 70);
    text-decoration: none;
    font-size: 1.2rem;

  }
  .links{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }