<div class="mainheaderdiv">
    <div class="firsttitle">
        <h1>Weather</h1>
    </div>
    <div class="links">
        <a href="/about">About</a>
        <a href="/magy">Help</a>
        <a href="/index">Main page</a>
    </div>
</div>